<!DOCTYPE html>

<html>
<head>
        <title>Peaky Blinders</title>

</head>
<body>

<style>
body {
	
background-color: #92a8d1;

</style> 

<h1><center style ="color:blue">Peaky Blinders</center></h1>

<center>

<img src="https://static.wikia.nocookie.net/peaky-blinders/images/0/0b/Johns3.jpg" width="300" height="400"> &nbsp;&nbsp;&nbsp;

 <img src="https://i.pinimg.com/originals/ea/f2/62/eaf262193937937ca81ad13698ccf760.jpg" width="300" height="400"> 
 <img src="https://static.wikia.nocookie.net/peaky-blinders/images/8/8e/Tommys3.jpg" width="300" height="400"> &nbsp;&nbsp;&nbsp;
  <img src="https://static.wikia.nocookie.net/peaky-blinders/images/c/c0/Finn2.jpg" width="300" height="400"> &nbsp;&nbsp;&nbsp;
 <img src="https://static.wikia.nocookie.net/peaky-blinders/images/d/df/Ada5.jpg" width="300" height="400"> &nbsp;&nbsp;&nbsp;
 <img src="https://static.wikia.nocookie.net/peaky-blinders/images/8/8a/Pollys4.jpg" width="300" height="400"> &nbsp;&nbsp;&nbsp;
 <img src="https://static.wikia.nocookie.net/peaky-blinders/images/e/eb/Michael4.jpg" width="300" height="400"> &nbsp;&nbsp;&nbsp;

 </center>

<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            {{ posts }}
        </div>

        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
        


    </body>
</html>
</body>
</html>